<h1>Make a new recipe</h1>
<form action="/recipes" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  <br>
  <label for="size">Ingredients</label>
  <input type="text" name="ingredients">
  <br>
  <label for="price">Price</label>
  <input type="text" name="cook_time">
  <br>
  <input type="submit" value="Submit">
</form>